body {
  background: #F6F6FF;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
header {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px 40px;
}
.photo_wrap {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}
.photo_wrap img {
  width: 100%;
}
h1 {
  margin: 0 0 10px 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #32304C;
}
h2 {
  margin: 0;
  font-family: 'Numans', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #434068c1;
}
.line {
  width: 90%;
  height: 5vh;
  margin: 0 auto;
  border-top: 1px solid #32304c44;
}
.line_text {
  margin: -10px auto;
  text-align: center;
  max-width: 260px;
  font-family: 'Numans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #32304c44;
  background: #F6F6FF;
}
.social_links {
  z-index: 10;
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  width: 270px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 20px;
  background: #32304C;
  box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.25);
}
.social_link {
  width: 26px;
  height: 26px;
}


.accordion {
  width: 100vw;
  height: 67vh;
  position: absolute;
  bottom: 0;
}
.accordion ul {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  border: #F6F6FF solid 3px;
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 550px;
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: cover;
  transition: all 600ms cubic-bezier(0.49, 1, 0.22, 1);
  border-radius: 20px;
}
.accordion ul li a {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 3;
  transition: all 200ms ease;
}
.accordion ul li a h2 {
  position: absolute;
  top: -28px;
  left: 25px;
  opacity: 0;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li:nth-child(1) {
  background-image: url("img/screen1.jpg");
  border-left: 0px;
}
.accordion ul li:nth-child(2) {
  background-image: url("img/screen2.jpg");
}
.accordion ul li:nth-child(3) {
  background-image: url("img/screen3.jpg");
}
.accordion ul li:nth-child(4) {
  background-image: url("img/screen4.jpg");
}
.accordion ul li:nth-child(5) {
  background-image: url("img/screen5.jpg");
}
.accordion ul li:nth-child(6) {
  background-image: url("img/screen6.jpg");
  border-right: 0px;
}
.accordion ul:hover li, .accordion ul:focus-within li {
  width: 10%;
}
.accordion ul li:focus {
  outline: none;
}
.accordion ul:hover li:hover,
.accordion ul li:focus, .accordion ul:focus-within li:focus {
  width: 30%;
}
.accordion ul:hover li:hover a h2,
.accordion ul li:focus a h2, .accordion ul:focus-within li:focus a h2 {
  opacity: 1;
}

.accordion ul:hover li a h2 {
  opacity: 0 !important;
}
.accordion ul:hover li:hover {
  width: 30% !important;
  border-radius: 30px;
}
.accordion ul:hover li:hover a h2 {
  opacity: 1 !important;
}



@media screen and (max-width: 700px) {
  body {
    height: auto;
    overflow: auto;
  }
  header {
    padding: 20px 10px 40px;
    flex-wrap: wrap;
    height: auto;
  }
  h1, h2 {
    text-align: center;
  }
  h1 {
    font-size: 6.8vw;
  }
  h2 {
    font-size: 5vw;
  }
  .line_text {
    font-size: 4vw;
    max-width: 75%;
  }
  .accordion {
    margin-top: 20px;
    position: static;
    height: auto;
    padding-bottom: 140px;
  }
  .accordion ul:hover li {
    pointer-events: none;
  }
  .accordion ul:hover li:hover {
    pointer-events: none;
  }
  .accordion *:hover {
    pointer-events: none;
  }
  .accordion ul {
    display: block;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 50px 5%;
    flex-wrap: wrap;
  }
  .accordion ul li {
    display: block;
    height: 250px;
    min-width: 45%;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
    border: none;
  }
  .accordion ul li a {
    transition: none;
  }
  .accordion ul li a h2 {
    width: 100%;
    left: 0;
    top: auto;
    bottom: -24px;
    opacity: 100%;
    font-size: 16px;
    transition: none;
  }
  .social_links {
    bottom: 20px;
  }
}